# Python cache
__pycache__/
*.pyc

# Colab checkpoints
.ipynb_checkpoints/

# Outputs
output_charts/
output_tables/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Models (allow tracking .pt files)

